/LearnC1N1/UnitProject_LearnC1N7/obj
/LearnC1N1/UnitProject_LearnC1N7/bin
/LearnC1N1/packages/MSTest.TestFramework.2.1.2/.signature.p7s
/LearnC1N1/packages/MSTest.TestFramework.2.1.2/LICENSE.txt
/LearnC1N1/packages/MSTest.TestFramework.2.1.2/MSTest.TestFramework.2.1.2.nupkg
/LearnC1N1/packages/MSTest.TestFramework.2.1.2
/LearnC1N1/packages/MSTest.TestAdapter.2.1.2
/LearnC1N1/LearnC1N8/obj
/LearnC1N1/LearnC1N8/bin
/LearnC1N1/LearnC1N7/obj
/LearnC1N1/LearnC1N7/bin
/LearnC1N1/LearnC1N6X/obj
/LearnC1N1/LearnC1N6X/bin
/LearnC1N1/LearnC1N6/obj
/LearnC1N1/LearnC1N6/bin
/LearnC1N1/LearnC1N5/bin
/LearnC1N1/LearnC1N5/obj
/LearnC1N1/LearnC1N4/obj
/LearnC1N1/LearnC1N4/bin
/LearnC1N1/LearnC1N3/obj
/LearnC1N1/LearnC1N3/bin
/LearnC1N1/LearnC1N2/obj
/LearnC1N1/LearnC1N2/bin
/LearnC1N1/LearnC1N1/obj
/LearnC1N1/LearnC1N1/bin
/LearnC1N1/.vs/LearnC1/DesignTimeBuild/.dtbcache.v2
/LearnC1N1/.vs/LearnC1/config/applicationhost.config
/LearnC1N1/.vs/LearnC1/v16/.suo
/LearnC1N1/.vs/LearnC1/v16/TestStore/0/001.testlog
/LearnC1N1/.vs/LearnC1/v16/TestStore/0/testlog.manifest
/LearnC1N1/.vs/LearnC1
